extends ../shared/layout
block heading
    h1= "Add post"

block main-content
    form(action="/post/create" method="post")
        label(for="title") Title
        input#title(type="text" name="title" value=title)
        br
        label(for="content") Content
        textarea#content(name="content" value=content)
        br
        label(for="category") Category
        select(name="category")#category
            for category in categories
                option(value=category.name)= category.name
        br
        input(type="submit" value="Create")
        