doctype
html
    head
        title= "Workshop – Forum System"
        link(href="/css/site.css" rel="stylesheet")
    body
        .container
            block heading
            ul.menu.horizontal-list
                li
                    a(href="/") Home
                li
                    a(href="/list") Posts
                li.delimiter
                if (currentUser)
                    li
                        a(href="/profile/" + currentUser.username)= currentUser.username
                    li
                        a(href="/add") Add post
                    li
                        a(href="/categories") Categories
                    if currentUser.roles.indexOf("Admin") > -1
                        li
                            a(href="/admins/all") Admins
                    li
                        a(href="/users/logout") Log out
                else
                    li
                        a(href="/users/register") Register
                    li
                        a(href="/users/login") Log In
            if (globalError)
                h3= globalError
            block main-content